<nav class="navbar">
  <div class="nav-container">
    <!-- Logo -->
    <a href="/" class="nav-logo">Personal Trainer App</a>

    <!-- Navigation Links -->
    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/help" routerLinkActive="active">Privacy & Security</a>
      </li>
      <li>
        <a routerLink="/add-client" routerLinkActive="active">Client Manager</a>
      </li>
      <li>
        <a routerLink="/client-list" routerLinkActive="active">Client List</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Router Outlet -->
<router-outlet></router-outlet>
