<!-- about-page.component.html -->
<div class="about-page">
    <h1>Help & Information</h1>
    <p>Welcome to the Personal Trainer App!</p>
    <p>This app helps you manage your clients, including adding, editing, deleting, and viewing their details. You can also track their fitness programs and health notes.</p>
    <h2>How to Use the App:</h2>
    <ul>
      <li><strong>Client List</strong>: View all clients currently in the system. There is also the option to <strong>Edit</strong> and <strong>Delete</strong> clients on this page.</li>
      <li><strong>Add Client</strong>: On this page you can add a new client by providing all of their details.</li>
      <li><strong>Privacy & Security</strong>: On this page you can view all of our privacy and security information regarding information that we will be using from you and your clients.</li>
    </ul>
    <p>If you have any further questions, please reach out to support.</p>
  </div>
  