<div class="home-container">
    <h1>Welcome to the Trainer Management App</h1>
  
    <div class="navigation">
      <p>Get started by navigating to one of the following:</p>
      <ul>
        <li><a routerLink="/client-list">Client List</a></li>
        <li><a routerLink="/add-client">Client Manager</a></li>
        <li><a routerLink="/help">Privacy & security</a></li>
      </ul>
    </div>
  </div>

<!-- app.component.html -->
<router-outlet></router-outlet>
<app-floating-help-button></app-floating-help-button>
  